html{
    height: 100%;
}
body{
    background-color: #00B8FF;
}
h1{
    text-align: center;
    color: #00415A;
}


.container{
    margin: auto;
    width: 50%;
    display: block;
   text-align: center;
   font-size: larger;
}
.container label{
    font-weight: bold;
    display: block;
    margin-top: 1rem;
    color: #00415A;
    margin-bottom: 1rem;
}
.container input{
    display: block;
    width: 50%;
    margin: auto;
    font-weight: bold;
    border: none;
    padding: 0.5rem;
    border-radius: 0.5rem;
}
.container button{
    margin-top: 3rem;
    border-radius: 0.5rem;
    font-weight: bolder;
    font-size: medium;
    border: none;
    padding: 0.5rem;
    background-color: #009BD6;
    cursor: pointer;
}
